.bar {
  fill: #343945;
}

.dot {
  fill: #343945;
  opacity: 0.9;
}

.dot:hover {
  fill: #FF4719;
}


.bar:hover {
  fill: #FF4719;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.x.axis path {
  display: none;
}

.axis {
  font: 10px sans-serif;
}

.g_title {
  font: 12px sans-serif;
}

