/*
name: Thijs Schouten
student number: 10887679
*/

body {
  font: 10px sans-serif;
}

svg {
  border-style: dotted;
  border-width: 1px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#JSON {
	display: none;
}

.g_title {
  font-size: 13px;
}

.text {
  fill: white;
}

.dot {
    fill: #000;
}